/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* Styles for the form container */
 .synkli-form-container {
    max-width: 1200px!important;
    margin: 40px auto!important;
    padding: 40px!important;
    box-shadow: 0px 0px 24px 5px #5A5A5A25!important;
    border-radius: 16px!important;
}
.synkli-form-container h2.synkli-form-title{
    text-align: center!important;
    font-size: 48px!important;
    font-weight: 700!important;
    color: #0A1E46!important;
    margin: 0 0 15px!important;
}
.synkli-form-container h2.synkli-form-title span{
    color: #B695F8!important;
}
.synkli-form-container p.synkli-form-description{
    text-align: center!important;
    font-size: 24px!important;
    font-weight: 400!important;
    color: #0A1E46!important;
    max-width: 730px!important;
    margin: 0 auto 20px!important;
}
.synkli-form-fields-wrap{
    margin-top: 40px!important;
}
.synkli-form-field-group{
    display: flex!important;
    flex-wrap: wrap!important;
    gap: 25px!important;
    justify-content: space-between!important;
}
.synkli-form-field-group .synkli-form-field{
    flex: 1!important;
}
.synkli-form-field{
    margin-bottom: 15px!important;
}
.synkli-form-field label {
    display: block!important;
    color: #0A1E46!important;
    font-size: 24px!important;
    font-weight: 400!important;
    margin-bottom: 20px!important;
}

/* Styles for form input fields */
.synkli-form-field input[type="text"],
.synkli-form-field input[type="email"],
.synkli-form-field input[type="tel"],
.synkli-form-field textarea {
    width: 100%!important;
    padding: 10px 20px!important;
    margin-bottom: 15px!important;
    border: 0!important;
    background-color: #f2f1fa!important;
    border-radius: 80px!important;
    box-sizing: border-box!important;
    font-size: 24px!important;
    min-height: 65px!important;
    height: auto!important;
}

.synkli-form-field textarea {
    min-height: 150px!important;
    border-radius: 25px!important;
}

.synkli-form-field-submit-btn-wrap{
    text-align: center!important;
}
.synkli-form-field input[type="submit"] {
    width: 100%!important;
    background-color: #0A1E46!important;
    max-width: 250px!important;
    margin: auto!important;
    color: white!important;
    padding: 15px 20px!important;
    border: none!important;
    border-radius: 4px!important;
    cursor: pointer!important;
    text-align: center!important;
    font-size: 22px!important;
}
.synkli-form-field input[type="submit"]:hover{
    background-color: #03112c!important;
}
@media (max-width: 767px){
    .synkli-form-container {
        padding: 40px 25px!important;
        margin: 40px auto!important;
    }
    .synkli-form-field-group{
        display: block!important;
    }
    .synkli-form-container h2.synkli-form-title {
        font-size: 28px!important;
    }
    .synkli-form-container p.synkli-form-description {
        font-size: 16px!important;
        margin: 0 auto 10px!important;
    }
    .synkli-form-fields-wrap {
        margin-top: 20px!important;
    }
    .synkli-form-field label {
        font-size: 18px!important;
        margin-bottom: 14px!important;
    }
    .synkli-form-field input[type="text"], .synkli-form-field input[type="email"], .synkli-form-field input[type="tel"], .synkli-form-field textarea {
        min-height: 50px!important;
    }
    .synkli-form-field input[type="submit"] {
        font-size: 18px!important;
    }
}
