/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.synkli-wrap{
    padding: 35px 70px 35px 15px;
}
.synkli-header{
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.synkli-header--title{
    font-size: 22px;
    margin: 0;
}
.synkli-header--description{
    margin: 0;
    margin-top: 6px;
}
.synkli-navbar{
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.synkli-navbar--item {
    background-color: white;
    box-shadow: 0px 6px 15px -5px #d5d5d5;
    max-width: 250px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 20px 15px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.synkli-navbar--item .dashicons{
    background-color: #ede5fc;
    color: #0A1E46;
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.synkli-navbar--item-active{
    background-color: #B695F8;
    color: white;
}
.synkli-body{
    padding: 20px 0;
}
.synkli-activation--notice{
    background-color: #0A1E46;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 30px;
    color: white;
    border-radius: 6px;
    position: relative;
}
.synkli-activation--notice-subtitle{
    margin-top: 0;
}
.synkli-activation--notice-title{
    max-width: 600px;
    width: 100%;
    color: #B695F8;
    font-size: 28px;
    line-height: 1.2em;
    margin: 5px 0;
}
.synkli-activation--notice-description{
    max-width: 600px;
    width: 100%;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 16px;
}
.synkli-activation--notice-bg-image{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 200px;
    z-index: 0;
}
.synkli-form{
    background-color: white;
    box-shadow: 0px 6px 15px -5px #d5d5d5;
    max-width: 800px;
    width: 100%;
    font-weight: 500;
    padding: 30px 20px 20px;
    border-radius: 7px;
}
.form-group-row{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.synkli-form .form-group{
    margin-bottom: 20px;
    width: 100%;
}
.synkli-form label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}
.synkli-form input[type="text"],
.synkli-form select,
.synkli-form textarea {
    background-color: #f2f1fa;
    border: 1px solid #cbcbcb;
    outline: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    width: 100%;
    max-width: 100%;
}
.synkli-submit-btn{
    background-color: #0F1A31;
    color: white;
    border: 0;
    border-radius: 6px;
    padding: 12px 20px;
    margin-top: 5px;
    max-width: 160px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}
.synkli-submit-btn:hover{
    background-color: #B695F8;
}
.synkli-link-btn{
    background-color: #0F1A31;
    color: white;
    border: 0;
    border-radius: 6px;
    padding: 12px 20px;
    margin-top: 5px;
    max-width: 120px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    margin-top: 30px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: 600;
    outline: 0!important;
    border:0!important;
}
.synkli-link-btn:hover{
    background-color: #B695F8;
    color: white;
}
.synkli-form-table-th-title{
    margin: 0;
    margin-top: -7px;
    font-size: 16px;
}
.synkli-form-table-th-description{
    font-weight: 400;
}
.synkli-form-style label{
    font-weight: 400;;
}
 .synkli-css-editor{
    width: 100%;
    max-width: 600px;
    min-height: 300px;  
    font-weight: 400; 
 }
.text-right{
    text-align: right;
}
.text-black{
    color: black;
    font-weight: 700;
}
.synkli-flexbox{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.synkli-shortcode-box{
    background-color: #f2f1fa;
    border: 1px solid #cbcbcb;
    outline: 0;
    font-size: 18px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    padding: 10px 10px 13px;
    font-weight: 500;
    border-radius: 6px;
    display: block;
}
.synkli-copy-btn{
    background-color: #0a1e46;
    color: white;
    box-shadow: 0px 6px 15px -5px #d5d5d5;
    max-width: 50px;
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 2px 10px;
    height: 48px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}